Lambdas Assignment

The Lambdas Assignment is to demonstrate a Simple Lambda Expression and a Lambda Block

Develop a Java app that has three separate Lambda expressions which determine then return the minimum, maximum, and average of the following numbers, which the calling method then prints: 
17.64, 55.56, 36.93, 55.96, 20.23, 41.74, 1.8, 95.97, 81.89, 36.16, 34.41, 87.9, 13.74, 11.15,

and also sorts the numbers using Collections.sort(), then calls a Lambda Block to calculate and return the median, then prints the median.
